@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif;
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
    border-bottom: 2px solid black;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}
.brand{
    text-decoration: none;
    color: black;
    font-style: 30px;
}
nav{
    padding: 10px 0;
    padding-bottom: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.nav-link{
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 0;
    /* flex-grow: 1; */
}
.nav-link:active, .nav-link:hover{
    background-color: #000;
    color: #fff;
}
.nav-toggler{
    border: 2px solid black;
    padding: 10px 20px;
    align-self: stretch;
    font-size: 25px;
    background-color: transparent;
    display: none;
}

.form{
    border: 2px solid black;
    width: 400px;
    padding: 20px;
    margin:0px auto;
}
.group{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin-bottom: 20px;
}
.form-label{
    margin-bottom: 10px;
}
.form-input{
    border: 2px solid black;
    padding: 10px;
}
.btn{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-size: large;
    border: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.confirm{
    width: 20px;
    height: 20px;
    accent-color: black;
}
@media screen and (max-width:780px) {
    nav{
        display: none;
    }
    nav.open{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .nav-link{
        width: auto;
    }
    .nav-toggler{
        display: block;
    }
}